<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <!--machineKey validation="SHA1" decryption="Auto" /-->
    <machineKey compatibilityMode="Framework20SP1"   validationKey="B1DA586F17AA1481EFD6E0327C33AA5486CBF56451E6C977C672DDF951D336A8ED1773A837638ACEDAE661A881B5E707079459D6BFF29EFD3E267BFFD3CA05A1" decryptionKey="1B2BB52CB6C4DD108DF7C68C11133C2E333B69B37353A72FE7EA9B88A5D50335" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms domain="localhost" loginUrl="~/Account/LogOn" timeout="2880" protection="All" enableCrossAppRedirects="true"/>
      <!--forms name=".ASPXAUTH" domain="localhost" protection="All" path="/" loginUrl="~/Account/LogOn" timeout="120" enableCrossAppRedirects="true" /-->
    </authentication>
  </system.web>
</configuration>